<header>
    <div class="home">
      <a href="/index">Home</a>
    </div>
    <div class="menu">
      <a class="menuGoals" href="/goalsSelect">Goals</a>
      <a class="menuTodo" href="/todoSelect">ToDo</a>
      <a class="menuAnalysis" href="/analysis">Analysis</a>
    </div>
</header>